.list-group {
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-align: center;
}
.list-group-item {
  cursor: pointer;
  border-bottom: 2px solid darkgrey;
  border-radius: 0.2em;
  color: whitesmoke;
  padding: 0.3em;
  margin: 0.1em;
}
